*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(189, 184, 184);
    
}
.container{
    padding-bottom: 30px;
    
}
.card{
   display: block;
   width: 300px;
   padding: 12px;
   background-color: rgb(245, 241, 237);
   position: relative;
   top: 50px;
   left: 50px;
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: nowrap;
    box-shadow: 2px 2px 2px 2px rgb(173, 143, 143);
    padding: 10px;
}

.sectiondata{
    display: grid;
    grid-template-columns: repeat(3,320px);
    justify-content: space-evenly;
    gap: 20px;
}

.nav{
    display: flex;
    position: relative;
    top: 5px;
    justify-content: center;
}

.navbar{
    background-color: white;
    display: flex;
    gap:20px;
    justify-content: center;
    padding: 10px;
    width: 400px;
    border-radius: 12px;
}

.btn{
    background-color: white;
    border: none;
    cursor: pointer;
}

.btn:hover{
    border-bottom: 2px solid blue;
    color: brown;
}

.inptdata{
    display: flex;
    position: relative;
    top: 10px;
    justify-content: center;
}

.inputbar{
    border-radius: 12px;
    padding: 10px;
    border: none;
    outline: none;
    width: 50em;
}